/* landing page css file 
-----------
author: Sahibjot Saggu
date: november 17, 2014

*/

/* .eot font file so IE can stop crying. */
@font-face {
	font-family: 'Gotham';
	src: url('fonts/gotham-rounded-medium.eot') format('eot');
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/gotham-rounded-medium.otf') format('opentype');
}


body {
	font-size: 100%;
	overflow: hidden;
}

#bgWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url("images/landerbg.jpg") no-repeat center bottom fixed;
	background-size: cover;
}

#frost {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
}

#title {
	position: absolute;
	top: 40%;
	left: 0px;
	width: 100%;
	height: 20%;
	text-align: center;
	line-height: auto;
	font-family: 'Gotham', 'Arial';
	font-size: 900%;
	color: #444;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	/*-webkit-animation: fadeIn 2s;
	-webkit-animation-delay: 3s;*/
	opacity: 1;
}

@-webkit-keyframes fadeIn {
	0% {color: transparent;}
	100% {color: 444;}
}

#coming_soon {
	position: absolute;
	top: 65%;
	left: 0px;
	width: 15em;
	height: 3em;
	background: #000;
}

#slogan {
	position: absolute;
	top: 65%;
	left: 0;
	width: 100%;
	height: 50px;
	background: transparent;
	text-align: center;
	line-height: 50px; 
	font-family: 'Gotham', 'Arial';
	font-size: 20px;
	color: #FFF;
}